<!-- Main content -->
 

	<div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">

		<!-- Search Box -->
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<div class="tl-card">
					<h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-7">{{article.title}}</h1>
					<p class="govuk-body">Search for schools and colleges delivering T Levels near you.</p>
					<span class="govuk-error-message tl-hidden" id="tl-postcode-error">Enter a postcode</span>
					<input class="govuk-input govuk-input--width-10 govuk-body-s" id="tl-postcode" name="tl-postcode" type="text" placeholder="Enter a postcode">
					<select class="govuk-select govuk-body-s" id="tl-qualifications" name="qualifications">
						<option value="0">All T Level Courses</option>
						<option value="47">Accounting</option>
						<option value="45">Building Services Engineering for Construction</option>
						<option value="48">Design and Development for Engineering and Manufacturing</option>
						<option value="36">Design, Surveying and Planning for Construction</option>
						<option value="39">Digital Business Services</option>
						<option value="37">Digital Production, Design and Development</option>
						<option value="40">Digital Support Services</option>
						<option value="38">Education and Childcare</option>
						<option value="50">Engineering, Manufacturing, Processing and Control</option>
						<option value="46">Finance</option>
						<option value="41">Health</option>
						<option value="42">Healthcare Science</option>
						<option value="49">Maintenance, Installation and Repair for Engineering and Manufacturing</option>
						<option value="51">Management and Administration</option>
						<option value="44">Onsite Construction</option>
						<option value="43">Science</option>
					</select>
					<button class="govuk-button tl-button--blue" id="tl-search-providers" data-module="govuk-button">
						Search
					</button>
				</div>
			</div>
		</div>

		<!-- Search Results -->
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds govuk-!-margin-top-7" id="tl-fap--results">

				<div class="tl-fap--noresult tl-hidden">
					<h2 class="govuk-heading-l">0 results</h2>
					<p class="govuk-body">There are no schools or colleges providing T Levels near you yet. Enter another postcode to search another area.</p>
				</div>

				<div class="tl-fap--result">
				</div>

				<!--<p class="govuk-body"><a class="govuk-link" id="next-results-link" href="#">Show 5 more results</a></p>-->
			</div>
		</div>
	</div>
</main>

<!-- <script src="{{asset 'findproviderapi.js'}}"></script> -->
<script type="text/javascript">

	$(document).ready(function() {
        let findProvidersApiUrl = "{{ settings.find_provider_api }}";
		if (findProvidersApiUrl.substr(-1) != '/') findProvidersApiUrl += '/'

		console.log(`findProvidersApiUrl is ${findProvidersApiUrl}`);

		loadQualifications();

		//Check for search query param with postcode
		let postcode = getUrlParameter("search");
		if (postcode) {
            postcode = urlDecode(postcode).toUpperCase();
			console.log(`Found search query with postcode to search for '${postcode}'`);
            $("#tl-postcode").val(postcode);
			providerSearch(postcode);
		}

		$("#tl-search-providers").click(function() {
			return providerSearch($("#tl-postcode").val().trim(), $("#tl-qualifications").val(), 0, 5);
		});

        $('#tl-postcode').keypress(function (e) {
            if (e.which === 13) {
                $("#tl-search-providers").click();
                return false;
            }
        }); 

		$("#next-results-link").click(function() {
			event.stopPropagation();
			console.log("Get next n results link clicked");
			//This would call the provider search function, passing in the current page + 1
		});

		function loadQualifications() {
			console.log('loading qualifications');
			$.getJSON(`${findProvidersApiUrl}qualifications`)
				.then(function(data) {
					console.log('Qualifications request succeeded with JSON response:', data);
					populateQualifications(data);
				})
				.fail(function(jqxhr, error) {
					console.log(`Call to get qualifications failed. ${error}`);
				});
		}

		function providerSearch(postcode, qualificationId=0, page=0, pageSize=5) {
			if (postcode === "") {
				event.stopPropagation();
				showPostcodeError("Enter a postcode");
				return false;
			}

			clearProviderSearchResults();

			console.log(`Searching for postcode = '${postcode}', qualificationId = ${qualificationId}`);

			const searchParams = new URLSearchParams({
				postcode: postcode,
				qualificationId: qualificationId,
				page: page,
				pageSize: pageSize
			}).toString();

            const requestUri = `${findProvidersApiUrl}providers?${searchParams}`;
            console.log(`requestUri = '${requestUri}`);

			$.getJSON(requestUri)
				.then(function(data) {
					console.log('Provider request succeeded with JSON response:', data);
					populateProviderSearchResults(data);
				})
				.fail(function(jqxhr, textStatus, error) {
					if (jqxhr.status === 404) {
						showPostcodeError("Enter a valid postcode");
					}
				});

			return true;
		}

		function clearProviderSearchResults() {
			$('#tl-postcode-error').addClass("tl-hidden");
			$('.tl-fap--noresult').addClass("tl-hidden");
			$("#tl-fap--results").find(".tl-fap--result").remove();
		}

		function populateProviderSearchResults(data) {
			if (data.length === 0) {
                $('.tl-fap--noresult').removeClass("tl-hidden");
                return;
            }

			$.each(data,
                    function(_, providerLocation) {
                        console.log(providerLocation);

                        let searchResult =
                            `<div class="tl-fap--result"> \
						 <h3 class="govuk-heading-m">${providerLocation.providerName} <span class="tl-fap--distance">${providerLocation.distance.toFixed(0)} miles</span></h3> \
						 <p class="govuk-body">${providerLocation.locationName} | ${providerLocation.postcode} `;

                        if (providerLocation.website) searchResult += `<a target="_blank" href="${providerLocation.website}" class="govuk-link govuk-!-margin-left-4">Visit <span class="govuk-visually-hidden">${providerLocation.providerName}</span> website</a>`

                        searchResult += `</p><div class="tl-fap--courses">`;

                        $.each(providerLocation.deliveryYears,
                            function(_, deliveryYear) {
                                const availability = deliveryYear.isAvailableNow
                                    ? 'Available now'
                                    : `From September ${deliveryYear.year} onwards`;

                                searchResult += `<p class="govuk-body govuk-!-font-weight-bold">${availability}:</p> \
								<ul class="govuk-list govuk-list--bullet">`;

                                $.each(deliveryYear.qualifications,
                                    function(_, qualification) {
                                        searchResult += `<li>${qualification.name}</li>`;
                                    });

                                searchResult += `</ul>`;
                            });

                        searchResult += `</div>`;

                        if (providerLocation.email || providerLocation.telephone) {
                            searchResult += `<p class="govuk-body">`;

                            if (providerLocation.email) searchResult += `<a href="mailto:${providerLocation.email}" class="govuk-link govuk-!-margin-right-4">${providerLocation.email}</a>`;
                            if (providerLocation.telephone) searchResult += ` Call on: ${providerLocation.telephone}`;

                            searchResult += `</p>`;
                        }

                        searchResult += `<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> \
					      </div>`;

                        $("#tl-fap--results").append(searchResult);
                    });

			//If we want 5 more, add the link here
			//TODO: Can include page number as query on the link
			//$("#tl-fap--results").append(`<p class="govuk-body"><a class="govuk-link" id="next-results-link" href="#">Show 5 more results</a></p>`);
		}

		function populateQualifications(data) {
			const select = $("#tl-qualifications");
			select.find("option:not(:first)").remove();
			$.each(data,
				function(_, item) {
					select.append(new Option(item.name, item.id));
				});
		}

		function showPostcodeError(message) {
			$("#tl-postcode-error").text(message);
			$('#tl-postcode-error').removeClass("tl-hidden");
		}

		function urlDecode(str) {
			return decodeURIComponent((str + '').replace(/\+/g, '%20'));
		}

		function getUrlParameter(key) {
			const pageUrl = window.location.search.substring(1);
			const urlVars = pageUrl.split('&');

			for (let i = 0; i < urlVars.length; i++) {
				const parameter = urlVars[i].split('=');
				if (parameter[0] === key) {
					return parameter[1];
				}
			}

			return null;
		}
	});
</script>