.tl-card {
    background-color: govuk-colour("light-grey");
    padding: 30px;
    margin: 20px 0;
    border-bottom: 5px solid $govuk-link-colour;

    @include govuk-media-query ($until: tablet) {
        padding: 20px;
    }

    &--grey {
        background-color: govuk-colour("light-grey");
        padding: 30px;
        position: relative;

        @include govuk-media-query ($until: tablet) {
            padding: 20px;
        }

        &--lower {
            margin-top: auto;
        }
    }

    &--flex {
        display: flex;
        flex-direction: column;
    }

    &--purple {
        background-color: govuk-colour("light-grey");
        padding: 30px;
        margin: 20px 0;
        border-bottom: 5px solid $govuk-link-visited-colour;


        @include govuk-media-query ($until: tablet) {
            padding: 20px;
        }
    }

    &--boxlinks {
        background-color: govuk-colour("light-grey");
        padding: 30px;
        @include govuk-responsive-margin(4, "top");

        @include govuk-media-query ($until: tablet) {
            background-color: unset;
            padding: 0px;
            @include govuk-responsive-margin(2, "top");
        }
    }
}
