.tl-fap--distance {
    @include govuk-font($size: 16, $weight: bold);
    background-color: govuk-colour("light-grey");
    padding: 3px 5px;
    float: right;
}


.tl-fap-home--image {
    width: 100%;
    height: 100%;
    display: none;
    background-image: url("$home_image_7");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;

    @include govuk-media-query ($from: tablet) {
        min-height: unset;
        display: block;
    }
}

.tl-fap-home--container {
    @include govuk-media-query ($from: tablet) {
        display: flex;
        align-items: stretch;

        div[class*='govuk-grid-column'], div[class^='govuk-grid-column'] {
            padding: 0;
        }
    }
}

.tl-fap-home--submit {
    max-width: 100px;

    @include govuk-media-query ($from: tablet) {
        max-width: unset;
    }
}

#autocomplete-container {
    #tl-search-term {
        @extend .govuk-input;
        @extend .govuk-input--width-10;
        @extend .govuk-body-s;
        @include govuk-responsive-margin(2, "bottom");
    }

    span {
        display: none;
    }
}