.tl-filter {
    border: 3px solid govuk-colour("light-grey");
    overflow: hidden;

    fieldset {
        legend {
            background: govuk-colour("light-grey");
            padding: 10px;
            box-sizing: border-box;
            width: 400px;
            min-width: 100%;
        }
    }

    .tl-filter--radios {
        padding: 0 15px;
    }
}
