.tl-nowrap {
    white-space: nowrap;
}

.tl-hide {
    display: none;
}


.tl-hidden {
    display: none !important;
}

.js-enabled {
    .tl-js-hidden {
        display: none;
    }

    .tl-js-visible {
        display: inline-block;
    }
}

.tl-js-hidden {
    display: inline-block;
}

.tl-js-visible {
    display: none;
}


.tl-inline {
    display: inline;
}

.tl-inlineblock {
    display: inline-block;
}

.tl-block {
    display: block;
}

.tl-breakword {
    word-wrap:break-word;
}

.tl-text {
    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }
}

.tl-push {
    &--right {
        float: right;
    }

    &--left {
        float: left;
    }
}

.tl-approved--visible, .tl-approved--hidden {
    display: none;
}


.tl-relative {
    position: relative;
}


.tl-ordering {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}





@for $i from 1 through 3 {

    .tl-order-m-#{$i} {
        -webkit-box-ordinal-group: unset;
        -moz-box-ordinal-group: unset;
        box-ordinal-group: unset;

        @include govuk-media-query ($until: tablet) {
            -webkit-box-ordinal-group: $i;
            -moz-box-ordinal-group: $i;
            box-ordinal-group: $i;
        }
    }
}


