.tl-home--categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    @include govuk-responsive-padding(5, "top");
}

.tl-home--category {
    width: 100%;
    padding: 0 15px;
    @include govuk-responsive-margin(3, "bottom");

    @include govuk-media-query($from: tablet) {
        width: calc(33.333% - 30px);
    }
}

.tl-home--banner {
    @include govuk-responsive-padding(6, "top");
}