.tl-home--categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    @include govuk-responsive-padding(5, "top");
}

.tl-home--category {
    width: 100%;
    padding: 0 15px;
    @include govuk-responsive-margin(3, "bottom");

    @include govuk-media-query($from: tablet) {
        width: calc(33.333% - 30px);
    }

    span {
        max-width: 100%;
        margin-bottom: 20px;
        background-image: url("$home_image_1");
        background-size: cover;
        min-height: 200px;
        display: block;
        background-repeat: no-repeat;
    }


    &:nth-child(2) {
        span {
            background-image: url("$home_image_2");
        }
    }

    &:nth-child(3) {
        span {
            background-image: url("$home_image_3");
        }
    }

    &:nth-child(4) {
        span {
            background-image: url("$home_image_4");
        }
    }

    &:nth-child(5) {
        span {
            background-image: url("$home_image_5");
        }
    }

    &:nth-child(6) {
        span {
            background-image: url("$home_image_6");
        }
    }
}

.tl-home--banner {
    @include govuk-responsive-padding(6, "top");
}

.tl-hero {
    background-color: $govuk-link-colour;
    color: govuk-colour("white");
    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(7, "bottom");

    * {
        color: govuk-colour("white");
    }

    .govuk-link {
        color: govuk-colour("white");
    }

    .govuk-details__summary:focus {
        .govuk-details__summary-text {
            color: govuk-colour("black");
        }
    }

    .tl-breadcrumbs {

        li:before {
            border-color: govuk-colour("white");
        }

        * {
            color: govuk-colour("white") !important;
        }
    }

    &--minimal {
        @include govuk-responsive-padding(2, "bottom");
        @include govuk-responsive-padding(2, "top");

        .tl-search--error {
            text-align: left;
        }
    }
}

.tl-home--video {
    max-width: 100%;
}