.tl-text--grey {
    color: govuk-colour("dark-grey");
}

.tl-text--red {
    color: govuk-colour("red");
}

.tl-text--blue {
    color: $govuk-link-colour;
}
.tl-text-headercase {
    text-transform: capitalize;
}

.tl-text-capitalize {
        text-transform: lowercase;
        display: inline-block;

    &::first-letter {
        text-transform: uppercase;
    }
}

.tl-prewrap {
    white-space: pre-wrap;
}