/*Workshops and webinars CSS*/

.tl-event--list {
    li {
        display: none;

        p {
            margin: 10px 0 15px 0;
        }
    }

    &[data-type="type-upcoming"] {
        li {
            display: none !important;
        }

        li[data-event--type="upcoming"] {
            display: block;
        }
    }

    &[data-type="type-recording"] {
        li {
            display: none !important;
        }

        li[data-event--type="recording"] {
            display: block;
        }
    }

    &[data-date="date-this-week"] {
        li {
            display: none;
        }

        li[data-event--thisweek="true"] {
            display: block;
        }
    }

    &[data-date="date-this-month"] {
        li {
            display: none;
        }

        li[data-event--thismonth="true"] {
            display: block;
        }
    }

    &[data-date="date-next-month"] {
        li {
            display: none;
        }

        li[data-event--nextmonth="true"] {
            display: block;
        }
    }

    &[data-date="date-all"] {
        li {
            display: block;
        }
    }
}

.tl-waw--pagination {
    padding: 40px 0px;

    .pagination-next-text, .pagination-prev-text {
        &:after {
            content: " page";
        }
    }

    .pagination-next {
        float: right;
    }

    .pagination-first, .pagination-last {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;


        li {
            float: left;
            padding: 0 20px 0 0;
            @include govuk-font($size: 19, $weight: bold);

            a {
                @extend .govuk-link;
            }
        }
    }
}
