<script>
    window.location.href = "/hc/en-gb/community/posts";
</script>

<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>


<!-- Main content -->
<main id="main-content" role="main">

    <!-- Hero Banner -->
    <div class="tl-hero--community--minimal">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">

                    <div id="tl-breadcrumbs--community--post">
                        <div class="tl-breadcrumbs">
                            <ol class="breadcrumbs">
                                <li title="Support with delivering T Levels">
                                    <a href="/hc/en-gb">Home</a>
                                </li>
                                <li title="Community">
                                    <a href="/hc/en-gb/community/posts">Discussion forum</a>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Error page content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Go back to the discussion forum home page</h1>
                <a href="/hc/en-gb/community/posts" class="govuk-button">Discussion forum home page</a>
            </div>
        </div>

    </div>
</main>








