<!-- Main content -->
<main id="main-content" role="main">

    
    <div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">


        <!-- Search Box -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="tl-card">

                    <h1 class="govuk-heading-xl govuk-!-margin-top-2 govuk-!-margin-bottom-7">{{article.title}}</h1>
                    <p class="govuk-body">Search for providers who are delivering T Levels</p>
                    <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" placeholder="Enter a postcode">
                    <select class="govuk-select " id="sort" name="sort">
                        <option>All T Level Courses</option>
                        <option>Agriculture, environment and animal care</option>
                        <option>Business and administration</option>
                        <option>Catering</option>
                        <option>Construction</option>
                        <option>Creative and design</option>
                        <option>Digital and IT</option>
                        <option>Education and childcare</option>
                        <option>Engineering and manufacturing</option>
                        <option>Hair and beauty</option>
                        <option>Health and science</option>
                        <option>Legal, finance and accounting</option>
                    </select>
                    <button class="govuk-button tl-button--blue" data-module="govuk-button">
                        Search
                    </button>


                </div>
            </div>
        </div>




        <!-- Search Results -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7" id="tl-fap--results">

                <!--<div class="tl-fap--noresult">
                    <h2 class="govuk-heading-l">0 results</h2>
                    <p class="govuk-body">Enter a postcode to search for providers offering T Levels.</p>
                </div>-->
                
                
                <div class="tl-fap--result">
                    <h3 class="govuk-heading-m">Warwickshire College <span class="tl-fap--distance">3 miles</span></h3>
                    <p class="govuk-body">Leamington Spa | CV32 5JE <a href="#" class="govuk-link govuk-!-margin-left-4">How do I get there?</a></p>
                    <div class="tl-fap--courses">
                        <p class="govuk-body govuk-!-font-weight-bold">From September 2021 onwards:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Digital Support Services</li>
                        </ul>
                    </div>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-!-margin-right-4">info@warwickshire.ac.uk</a> Call on: 0300 456 0047</p>
                    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                </div>

                <p class="govuk-body"><a class="govuk-link" href="#">Show 5 more results</a></p>
            </div>
        </div>


    </div>

</main>
